<h2>About Laurence</h2>
<p>I am a London based Senior Front End Engineer. A 2014 <a href="https://generalassemb.ly/" target="blank">General Assembly</a> graduate, I work for <a href="http://www.connected-space.co.uk/" target="blank">Connected Space</a>.</p>

<h2>Key Technical Skills</h2>
<ul>
  <li>JavaScript (ES6)</li>
  <li>React</li>
  <li>React Native</li>
  <li>Redux</li>
  <li>Redux-Saga</li>
  <li>Jest</li>
  <li>React-Testing-Library</li>
  <li>Cypress</li>
  <li>Cucumber</li>
  <li>Git / Bitbucket</li>
  <li>Bitbucket Pipelines</li>
  <li>NPM</li>
  <li>Agile Development</li>
  <li>BDD</li>
  <li>TDD</li>
</ul>

<h2>Contact</h2>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="/cv_laurence_roland_james.pdf" download>Download CV</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    <a href="mailto:laurencerolandjames@gmail.com">Email</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/laurencerolandjames" target="blank">LinkedIn</a>
  </li>
</ul>

<hr />

<br />
<br />
