<h2>About Laurence</h2>
<p>I am a London based Web Developer. A 2014 <a href="https://generalassemb.ly/" target="blank">General Assembly</a> graduate, I work for <a href="http://connected-space.co.uk/" target="blank">Connected Space</a>.</p>

<h2>Skills / Technologies</h2>
<ul>
  <li>Responsive Design</li>
  <li>Agile Development</li>
  <li>JavaScript</li>
  <li>React</li>
  <li>Redux</li>
  <li>Backbonejs</li>
  <li>jQuery</li>
  <li>HTML5</li>
  <li>CSS</li>
  <li>SCSS</li>
  <li>Git</li>
</ul>

<h2>Contact</h2>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-phone fa-lg main-list-item-icon"></span>
    <span>+44 (0)7917 862926</span>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    <a href="mailto:laurencerolandjames@gmail.com">Email</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github-alt fa-lg main-list-item-icon"></span>
    <a href="https://github.com/LaurenceRolandJames" target="blank">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/laurencerolandjames" target="blank">LinkedIn</a>
  </li><li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/L_R_James" target="blank">Twitter</a>
  </li>
</ul>

<hr />

<br />
<br />
