<h2>About Laurence</h2>
<p>I am a London based Web Developer. A 2014 <a href="https://generalassemb.ly/" target="blank">General Assembly</a> graduate, I work for <a href="http://www.connected-space.co.uk/" target="blank">Connected Space</a>.</p>

<h2>Skills / Technologies</h2>
<ul>
  <li>JavaScript</li>
  <li>ES6</li>
  <li>React</li>
  <li>React Native</li>
  <li>Redux</li>
  <li>Flux</li>
  <li>Git</li>
  <li>HTML, CSS</li>
  <li>Agile Development</li>
</ul>

<h2>Contact</h2>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    <a href="mailto:laurencerolandjames@gmail.com">Email</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/laurencerolandjames" target="blank">LinkedIn</a>
  </li>
</ul>

<hr />

<br />
<br />
